networkx
altair
black
certifi
decorator
flake8
folium
ipykernel
ipython
nbformat
numpy
pandas
plotly
pyarrow
pylint
pymongo
python-dateutil
pytz
requests
scikit-learn
scipy
statsmodels
streamlit
toml
tomlkit
gravis
matplotlib